<div class="col-xs-6 col-md-4">
<% cache product do %>
  <h2 class="product-title"><%= product.name %></h2>
  <h2 class="product-title back-layer"></h2>
  <a href="<%= product_path(product) %>">
  <%=image_tag(product.image_url, class: "img-responsive product-image") %></a>
  <p>
    <strong>Price: </strong><br><%= product.price %>
    <br>
    <br>
    <strong>Colour: </strong><br><%= product.colour %>
  </p>
<% end %>
</div>